/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    overflow: hidden;
}

h1 { 
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

ul {
    list-style-type: none;
    gap: 40px;
    justify-content: flex-end;

    position: relative;
    top: 40px;
    right: 50px;
}

.flex {
    display: flex;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

/*MAIN*/

.background {
    height: 100vh;
    position:relative;
}

.col.flex {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    
    display: inline-block;
    
    padding: 10px 10px;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}



